<html>   
<head>   
    <title>Books collection</title>   
</head>   
<body>   
        <h1>Books details</h1>   
    <%= yield %>   
        <p>All books are available in store now</p>                                             
</body>   
</html> 